/* Global Styles and Classes */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    color: hsl(209,61%,16%);
    background: hsl(210, 36%, 96%);
}

.section {
    padding-bottom: 5rem;
}

